# Supabase Configuration
VITE_SUPABASE_URL=https://lfaudvcgirryuotburcf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxmYXVkdmNnaXJyeXVvdGJ1cmNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzOTAyOTQsImV4cCI6MjA4OTk2NjI5NH0.2Fu1I7EV_iaNRnBEx5fAiccgQNOHQVf80-D_J-8f-FI
SUPABASE_URL=https://lfaudvcgirryuotburcf.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxmYXVkdmNnaXJyeXVvdGJ1cmNmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM5MDI5NCwiZXhwIjoyMDg5OTY2Mjk0fQ.zXxj7ky4D96Bv-5r81VAjPPdRMv0DWE4KgmHiE7zqQU
SUPABASE_DB_PASSWORD=FareEasePass123!
INTERSWITCH_BASE_URL=https://sandbox.interswitchng.com
